# nginx_template.j2

worker_processes 1;

events {
    worker_connections 1024;
    debug_connection {{ host }};
}

http {

    upstream backend_servers {
        {% for server in backend_servers %}
        server {{ server }};
        {% endfor %}
    }

    server {
        listen {{ port }};

        location / {
            proxy_pass http://backend_servers;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
        }
    }
}